@use '../../styles/base';

.storagePage{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    .mainPanel{
        max-height: calc(100% - 80px);
       .storgeTitle{
            margin: 30px 20px ;
            height: 50px;
            font-size: var(--title-fz);
            border-bottom: 1px solid var(--hover-color);
            h3{
                @include base.title-three-dots;
            }
       } 
       .searchPanel{
            margin: 10px 0;
            width: 100%;
            height: 30px;
            display: flex;
            align-items: center;
            input{
                width: calc(100% - 55px);
                height: 100%;
                margin-left: 10px;
                border-radius: 10px 0 0 10px;
                padding-left: 20px;
                font-size: 20px;
            }
            .iconContainer{
                width: 35px;
                height: 38px;
                margin-right: 10px;
                text-align: center;
                background-color:#eae4e4de;
                border-radius: 0 12px 12px 0;
                display: flex;
                align-items: center;
                .searchIcon{
                    @include base.icon-setting(30px, 30px, 30px);
                }
            }
        }
        .arrangePanel{
            width: calc(100% - 100px);
            height: 40px;
            margin: 20px;
            .arrangeBanner{
                height: 100%;
                display: flex;
                flex-direction: row;
                .arrangeBtn{
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100px;
                    height: 40px;
                    font-size: 15px;
                    margin:  0 10px;
                    background-color: var(--hover-color);
                    cursor: pointer;
                    &:hover{
                        background-color: var(--primary-color);
                        outline: 2px solid var(--hover-color);
                    }
                }
                .arrangeBtnClicked{
                    @extend .arrangeBtn;
                    background-color: var(--secondary-color);
                }
            }
        }
        .searchInfoPanel{
            width: 100%;
            display: flex;
            flex-direction: row;
            height: 25px;
            margin: 5px 15px;
            align-items: center;
            font-size: 18px;
            border-radius: 20px;
            color: #a29797;
            .searchBytype{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 80px;
                margin:0 10px;
                background-color: #dfdcdc;
                font-size: 14px;
                height: 100%;
                border-radius: 5px;
                color:var(--text-color);
            }
            .searchByInput{
                margin-left: 10px;
                display: flex;
                justify-content: start;
                align-items: center;
                color:var(--text-color);
                width: 50%;
                font-size: 20px;
                span{
                    @include base.title-three-dots;
                }

            }
            .closeIcon{
                margin-left: 5px;
                @include base.icon-setting(25px, 25px ,25px);
                color:var(--text-color);
            }
        }
        hr{
            margin: 10px 15px;
        }
        .storageItemsWrapper {
            width:calc(100% - 40px);
            margin-left: 10px;
            border-radius: 0  0 10px 10px;
            border: 1px solid #d2b8b8;
            padding: 0px 5px 10px 5px;
            //調整滾動
            height: 100%;
            overflow-y: auto;
            table{
                width: 100%;
                //display: block;
                border-collapse: collapse;
                table-layout: fixed;
                thead {
                    width: 100%;
                    background-color: var(--thead-color);
                    box-sizing: border-box;
                    .itemTitleWrapper{
                        th{
                            box-sizing: border-box;
                            padding: 3px;
                            border: 1px solid var(--hover-color);
                            font-size: 14px;
                            vertical-align: middle;
                            input{
                                font-size: 50px;
                                &:hover{
                                    cursor: pointer;
                                    outline: 2px solid #fefefe;
                                }
                            }
                        }
                        
                    }
                }
                tbody{
                    width: 100%;
                    box-sizing: border-box;
                    max-height: 40px; 
                    table-layout: fixed;
                    .itemContainer{
                        &:hover{
                            cursor: pointer;
                            border-radius: 5px;
                            outline: 3px solid var(--secondary-color);
                        }
                        .itemCheckbox,
                        .itemDelteIcon {
                            text-align: center;
                            input {
                                cursor: pointer;
                            }
                        }
                        td{
                            border: 1px solid var(--hover-color);
                            max-height: 30px;
                            vertical-align: middle;
                            text-align: center;
                        }
                        .itemDelteIcon,
                        .itemOpenNotesIcon,
                        .itemCheckbox{
                            z-index: 3;
                        }
                        .delteIcon,
                        .notesIcon,
                        .pictureIcon
                        {
                            @include base.icon-setting(20px, 20px, 20px);
                            &:hover {
                                outline: 2px solid #fefefe;
                            }
                        }
                        .checkBocIcon{
                            width: 18px;
                            height: 18px;
                            &:hover {
                                outline: 2px solid var(--hover-color);
                            }
                        }
                    }
                    .noItemsContainer {
                        width: 100%;
                        .noStorageItems {
                            text-align: center;
                            span {
                                display: block;
                                margin-top: 100px;
                                width: 100%;
                            }
                            button{
                                margin-top: 100px;
                                width:  200px;
                                height: 35px;
                                border-radius: 20px;
                            }
                        }
                    }
                }
                @include base.set-table-column-widths((
                    1:5%,
                    2:15%,
                    3:10%,
                    4:10%,
                    5:20%,
                    6:20%,
                    7:6%,
                    8:6%,
                ));
            }
        }

        .createItemPanel{
            button{
                position: absolute;
                bottom: 70px;
                right: 25px;
                z-index:2;
                width: 100px;
                height: 50px;
                border-radius: 20px;
                box-shadow: 3px 3px 4px rgba($color:#8e8b8b, $alpha: .7);
                cursor: pointer;
                &:hover{
                    border: 2px solid #c3c9c3;
                }
            }
        }
        //共用
        
    }

    .modalWraper{
        position: absolute;
        width: 85%;
        height: 85%;
        border-radius: 25px;
        box-shadow: 2px 3px 10px rgba($color: #000000, $alpha: 0.5);
        padding: 10px;
        top:7%;
        left: 7%;
        display: flex;
        flex-direction: column;
        z-index: 98;
        background-color: var(--modal-bgc-color);
        .titlePanel{
            position: relative;
            height: 40px;
            text-align: center;
            h3{
                margin-top: 10px;
                font-size: var(--main-text-fz);
            }
            .closeIcon{
                position: absolute;
                top: 10px;
                right: 10px;
                @include base.icon-setting(20px, 20px, 20px);
            }
        }
        .contentContainer{
            display: flex;
            flex-direction: column;
            padding: 5px 10px;
            max-height: 75%;
            overflow-y: scroll;
            border-radius: 10px;
            outline: 2px solid var(--hover-color);
            label{
                input{
                    @include base.input-setting;
                }
            }
            div{
                display: flex;
                flex-direction: column;
                margin: 20px 0 ;
            }
            .itemNotesPanel{
                width: 100%;
                max-height: 500px;
                span{
                    margin-top: 20px;
                }
                .itemNotesContainer{
                    margin: 20px 10px 10px 20px;
                    width: 80%;
                    height: 200px;
                    font-size: 15px;
                    line-height: 25px;
                    letter-spacing: 2px;
                    border-radius: 10px;
                }
            }
        }
        .btnPanel{
            display: flex;
            flex-direction: row;
            justify-content: center;
            button{
                margin: 5px 15px;
                @include base.button-setting;
                width: 100px;
                height: 35px;
                border-radius: 10px;
                &:disabled{
                    @include base.disabled-button-setting;
                }
            }
        }
        .notifyPopout{
            margin: 20px;
            width: calc(100% - 40px);
            height: 40px;
            border-radius: 15px;
            background-color: var(--hover-color);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
    }
    .modalMask{ 
        @include base.mask-setting;
    }
}