@use '../../styles/base';

.storagePage{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y:scroll;
    .mainPanel{
        height: calc(100% - 80px);
        border: 2px solid blueviolet;
       .storgeTitle{
            margin: 30px 20px ;
            height: 50px;
            font-size: var(--title-fz);
            border-bottom: 1px solid var(--hover-color);
            h3{
                @include base.title-three-dots;
            }
       } 
       .searchPanel{
            margin-left: 20px;
            width: 90%;
            height: 40px;
            display: flex;
            position: relative;
            border-radius: 20px;
            box-shadow: 1px 0px 1px #8e8b8b;
            input{
                width: calc(100% - 80px);
                padding: 5px;
                margin-left: 30px;
                font-size: 18px;
            }
            .searchIcon,.tuneIcon{
                @include base.icon-setting(30px, 30px, 30px);
                position: absolute;
                top:5px;
            }
            .searchIcon{
                left: 0;
            }
            
            .searchFilterPanel{
                width: calc(100% - 50px);
                padding: 10px 25px 20px 25px;
                position: absolute;
                top: 40px;
                background-color: var(--background-color);
                border-radius: 0 0 25px 25px;
                box-shadow: 2px 2px 0 #a09797;
                div{
                    width: 80%;
                    height: 40px;
                    margin: 0 20px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    span{
                        width: 40%;
                        //max-width: 200px;
                    }
                    select{
                        width: 50%;
                        max-width: 250px;
                        height: 30px;
                        // max-width: 250px;
                    }
                }
            }
        }
        .searchPanelOnFilter{
            @extend .searchPanel;
            border-radius: 25px 25px 0 0 ;
        }
       
        .arrangePanel{
            width: calc(100% - 100px);
            height: 40px;
            margin: 20px;
            .arrangeBanner{
                height: 100%;
                display: flex;
                flex-direction: row;
                .arrangeBtn{
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100px;
                    height: 40px;
                    font-size: 15px;
                    margin:  0 10px;
                    background-color: var(--hover-color);
                    cursor: pointer;
                    &:hover{
                        background-color: var(--primary-color);
                        outline: 2px solid var(--hover-color);
                    }
                }
                .arrangeBtnClicked{
                    @extend .arrangeBtn;
                    background-color: var(--secondary-color);
                }
            }
        }
        .searchInfoPanel{
            width: 100%;
            display: flex;
            flex-direction: row;
            height: 25px;
            margin: 5px 15px;
            align-items: center;
            font-size: 18px;
            border-radius: 20px;
            color: #a29797;
            .searchBytype{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 80px;
                margin:0 10px;
                font-size: 14px;
                height: 100%;
                border-radius: 5px;
                color:var(--text-color);
            }
            .searchByInput{
                margin-left: 10px;
                display: flex;
                justify-content: start;
                align-items: center;
                color:var(--text-color);
                width: 50%;
                font-size: 20px;
                span{
                    @include base.title-three-dots;
                }

            }
            .closeIcon{
                margin-left: 5px;
                @include base.icon-setting(25px, 25px ,25px);
                color:var(--text-color);
            }
        }
        hr{
            margin: 10px 15px;
        }
        .storageItemsWrapper {
            margin: 10px;
            max-height: 70%;
            overflow-y: scroll;
            scroll-behavior: smooth;
            position: relative;
            font-family: var(--main-text-font-family);
            .itemsBtnPanel{
                width: 100%;
                position: sticky;
                top: 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 55px;
                backdrop-filter: blur(7px);
                z-index: 4;
                input{
                    width: 20px;
                    height: 20px;
                    margin-right: 20px;
                }
                button{
                    width: auto;
                    margin-right: 20px;
                    font-size: 20px;
                    border-radius: 10px;
                }
                .delteItemsBtn{
                    background-color: red;
                    color: white;
                    cursor: pointer;
                }
            }
            hr{
                @include base.divider;
            }
            .itemsPanel{
                max-height: 90%;
                //overflow: scroll;
                margin: 8px;
                border: 2px solid red;
                border-radius: 15px;
                .itemCard{
                    width: 100%;
                    border-radius: 8px;
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    position: relative;
                    margin-bottom: 10px;
                    .itemCheckbox{
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                        position: absolute;
                        top: calc(50% - 10px);
                        & :hover{
                            background-color: var(--hover-color);
                        }
                    }
                    .cardInfo{
                        width: 93%;
                        margin-left: 7%;
                        border-radius: 15px;
                        padding: 10px;
                        box-shadow: 1px 1px 8px rgba($color: #000000, $alpha: 0.3);
                        &:hover{
                            background-color: var(--hover-color);
                            cursor: pointer;
                        }
                        .cardTitle{
                            .itemName{
                                font-size: var(--title-fw);
                                font-size: var(--subTitle-fz);
                                @include base.title-three-dots;
                            }
                        }
                        .cardSubTitle{
                            display: flex;
                            flex-direction: row;
    
                            margin-left: 30px;
                            div{
                                max-width: 45%;
                                border-radius: 2px;
                                margin-right: 5%;
                                margin-top: 10px;
                                span{
                                    font-size: 20px;
                                    @include base.title-three-dots;
                                }
                            }
                        }
                        .cardDateContainer{
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between  ;
                            margin-top: 20px;
                            span{
                                width: 100%;
                            }
                            .expiredDate{
                                font-size: 18px;
                                font-weight: 600;
                            }
                        }
    
                    }
                    .itemLabel{
                        position: absolute;
                        background-color: var(--hover-color);
                    }
                    .iconPanel{
                       width: 8%;
                       margin: 20px;
                       display: flex;
                       flex-direction: row;
                       align-items: center;
                       justify-content: center;
                       
                    }
                }
                .itemCardSelected{
                    background-color: rgba($color: #4996de, $alpha: .5);
                    outline: 5px solid white;
                }
            }

            
        }
        .moreDataPanel{
            border: 1px solid #000;
            display: flex;
            flex-direction: row;
            justify-content: center ;
            cursor: pointer;
        }
        .testPanel{
            border-radius: 15px;
            overflow-y: auto;
            height: 350px;
            div{
                height: 100px;
                border: 1px solid #000;
            }
        }

        .createItemPanel{
            position: absolute;
            border: 1px solid #000;
            button{
               
                border-radius: 20px;
                box-shadow: 3px 3px 4px rgba($color:#8e8b8b, $alpha: .7);
                cursor: pointer;
                &:hover{
                    border: 2px solid #c3c9c3;
                }
            }
        }
        //共用
        
    }

    .modalWraper{
        position: absolute;
        width: 85%;
        height: 85%;
        border-radius: 25px;
        box-shadow: 2px 3px 10px rgba($color: #000000, $alpha: 0.5);
        padding: 10px;
        top:7%;
        left: 7%;
        display: flex;
        flex-direction: column;
        z-index: 98;
        background-color: var(--modal-bgc-color);
        .titlePanel{
            position: relative;
            height: 40px;
            text-align: center;
            h3{
                margin-top: 10px;
                font-size: var(--main-text-fz);
            }
            .closeIcon{
                position: absolute;
                top: 10px;
                right: 10px;
                @include base.icon-setting(20px, 20px, 20px);
            }
        }
        .contentContainer{
            display: flex;
            flex-direction: column;
            padding: 5px 10px;
            max-height: 75%;
            overflow-y: scroll;
            border-radius: 10px;
            outline: 2px solid var(--hover-color);
            label{
                input{
                    @include base.input-setting;
                }
            }
            div{
                display: flex;
                flex-direction: column;
                margin: 20px 0 ;
            }
            .itemNotesPanel{
                width: 100%;
                max-height: 500px;
                span{
                    margin-top: 20px;
                }
                .itemNotesContainer{
                    margin: 20px 10px 10px 20px;
                    width: 80%;
                    height: 200px;
                    font-size: 15px;
                    line-height: 25px;
                    letter-spacing: 2px;
                    border-radius: 10px;
                }
            }
        }
        .btnPanel{
            display: flex;
            flex-direction: row;
            justify-content: center;
            button{
                margin: 5px 15px;
                @include base.button-setting;
                width: 100px;
                height: 35px;
                border-radius: 10px;
                &:disabled{
                    @include base.disabled-button-setting;
                }
            }
        }
        .notifyPopout{
            margin: 20px;
            width: calc(100% - 40px);
            height: 40px;
            border-radius: 15px;
            background-color: var(--hover-color);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
    }
    .modalMask{ 
        @include base.mask-setting;
    }
}