@use '../styles/base';

.singupPage{
    margin: 0;
    width: 95%;
    position: relative;
    font-family: var(--main-text-font-family);
    .signupTitle{
        margin-top: 50px;
        height: 20%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        .brandTitle{
            font-family: var(--brand-title-font-family);
        }
    }
    .signupInputPanel{
        width: 100%;
        height: 25%;
        label{
            .emaiHints{
                margin-left: 80px;
                font-size: 14px;
                color: var(--hint-color);
            }
            .validLabel{
                color: var(--error-color);

            }
            input{
                @include base.input-setting;
                width: 80%;
                margin-left: 20px;
            }
        }
    
    }
    .signupBtnPanel{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .signupBtn{
            margin: 30px;
            width: 50%;
            height: 50px;
            border-radius: 25px;
            @include base.button-setting;
            &:disabled{
                @include base.disabled-button-setting;
            }
        }
        .verifyBtnPanel{
            width: 60%;
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            button{
                width: 40%;
                @include base.button-setting;
                border-radius: 25px;
            }
        }
        .toLogniPage{
            margin-top: 50px;
            width: 30%;
            height: 30px;
            border-radius: 15px;
            @include base.button-setting;
        }
    }
}
