@use '../../styles/base';

.homePage{
    border: 1px solid  orange;
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .initialModal{
        position: absolute;
        width: 100%;
        height: 100%;
        .modalPanel{
            position: absolute;
            top: 35%;
            left: 25%;
            width: 50%;
            height: 30%;
            padding: 2rem;
            border-radius: 25px;
            background-color: var(--modal-bgc-color);
            z-index: 5;
            display: flex;
            flex-direction: column;
            span{
                font-size: 25px;
                font-weight: 600;
                margin: 10px  0;
            }
        }
        .modalMask{
            @include base.mask-setting;
        }
    }

    .mainPanel{
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        .welcomePanel{
            height: 50px;
            font-size: var(--main-text-fz);
            font-weight: 600;
        }
        .mainContent{
            .previewPanelTitle{
                font-size: var(--main-text-fz);
            }
            .expiredItemsWrapper{
                display: flex;
                flex-direction: column;
                align-items: start;
                height: auto;
                overflow: scroll;
                .countPanel{
                    height: 30px;
                    margin: 10px 5px ;
                    border-radius: 10px;
                    outline: 2px solid var(--warning-color);
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    .panelTitle{
                        display: flex;
                        align-items: center;
                        margin: 8px 5px;
                    }
                    .dropDownbtn{
                        @include base.icon-setting(25px, 25px, 25px);
                        text-align: center;
                        margin-right: 10px;
                    }
                }
                .expiredItemsContainer{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    .expiredItemsSection {
                        .sectionTitlePanel{
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            border-radius: 10px;
                            height: 50px;
                            &:hover{
                                background-color: var(--hover-color);
                            }
                            .sectionTitle{
                                width: 60%;
                                height: 25px;
                                padding: 5px 10px;
                                font-size: 18px;
                                width: 90%;
                                border-radius: 10px;
                                cursor: pointer;
                                @include base.title-three-dots;
                            }
                            span{
                                width: 20%;
                                margin-left: 20px;
                            }
                        }
                        hr{
                            margin: 5px 10px;
                        }
                        .expiredItems {
                            width: 100%;
                            margin: 10px 0 ;
                            .itemTitles {
                                background-color: #ddc3c3; 
                                .itemTitle {
                                    padding: 8px;
                                    border: 1px solid var(--text-color); 
                                    text-align: center; 
                                    background-color: var(----thead-color);
                                }
                            }
                            .expiredItem {
                                .nameItem,
                                .amountItem,
                                .unitItem,
                                .dateItem {
                                    padding: 8px;
                                    border: 1px solid var(--text-color);
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
            .storageCardWrapper{
                @include base.grid-setting-autofill(minmax(400px, 1fr), 750px, center, center);
                grid-gap:20px;
                margin:  0 10px;
                align-items: start;
                .storageCardContainer{
                    width: 100%;
                    box-shadow: 1px 1px 8px rgba($color: #000000, $alpha: 0.3);
                    border-radius: 30px;
                    position: relative;
                    .cardTitlePanel{
                        .cardTitle{
                            padding: 20px 0;
                            font-size: 30px;
                            text-align: center;
                            cursor: pointer;
                            border-radius: 30px 30px 0 0 ;
                            &:hover{
                                background-color: var(--hover-color);
                            }
                        }

                    }
                    .itemCardsPanel{
                        height: 500px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        font-family: var(--main-text-font-family);
                        .itemCard{
                            width: 90%;
                            height: 15%;
                            margin-bottom: 10px;
                            display: flex;
                            flex-direction: row;
                            border-radius: 10px;
                            padding: 10px;
                            background-color: var(--background-color);
                            box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: .3);
                            position: relative;
                            .cardInfo{
                                width: 90%;
                                .cardTitle{
                                    width: 100%;
                                    .itemName{
                                        font-size: 23px;
                                        @include base.title-three-dots;
                                    }
                                }
                                .cardSubTitle{
                                    display: flex;
                                    flex-direction: row;
                                    margin-left: 30px;
                                    div{
                                        max-width: 45%;
                                        border-radius: 2px;
                                        margin-right: 5%;
                                        margin-top: 10px;
                                        span{
                                            font-size: 18px;
                                            @include base.title-three-dots;
                                        }
                                    }
                                }
                                .cardDateContainer{
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between  ;
                                    margin-top: 20px;
                                    span{
                                        width: 100%;
                                    }
                                    .expiredDate{
                                        font-size: 13px;
                                        font-weight: 600;
                                    }
                                }

                                

                            }
                            .itemLabel{
                                position: absolute;
                                background-color: var(--hover-color);
                            }
                            .iconPanel{
                               width: 10%;
                               margin: 20px;
                               border: 1px solid #000;
                               display: flex;
                               flex-direction: row;
                               align-items: center;
                               justify-content: center;
                            }
                        }
                    }
                    .fastCreatePanel{
                        width: 100%;
                        height: 40%;
                        h3{
                            margin: 10px;
                            font-size: var(--main-text-fz);
                        }
                        .fastCreateInput{
                            display: flex;
                            flex-direction: column;
                            width: 90%;
                            margin-left: 20px;
                            input{
                                @include base.input-setting;
                            }
                            .dateInput{
                                width: 50%;
                            }
                        }
                        .fastCreateBtnPanel{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            height: 50px;
                            button{
                                width: 100px;
                                height: 40px;
                                margin: 10px 0;
                                border-radius: 20px;
                            }
                            .fastCreateBtn{
                                @include base.button-setting;
                            }
                            .btnDisabled{
                                @include base.disabled-button-setting;

                            }
                        }
                        
                    }
                    .toModifyCardPanel{
                        height: 50px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        .iconPanel{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin: 0 10px;
                            height: 80%;
                            border: 1px solid #000;
                            font-size: 25px;
                            border-radius: 25px;
                            width: 49%;
                            &:hover{
                                cursor: pointer;
                                background-color: var(--hover-color);
                            }
                        }
                    }
                    .modifyCardModal{
                        position: absolute;
                        top:0;
                        width: 100%;
                        height: 100%;
                        z-index: 4;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        border-radius: inherit;
                        backdrop-filter: blur(20px); 
                        h3{
                            margin: 20px;
                            font-size: var(--title-fz);
                        }
                        input{
                            @include base.input-setting;
                        }
                        .btnPanel{
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            button{
                                width: 40%;
                                height: 50px;
                                margin-right: 10px;
                                border-radius: 25px;
                                font-size: 20px;
                            }
                            .cancelBtn{
                                background-color: var(--cancel-btn-color);
                            }
                            .deleteBtn{
                                background-color: var(--delete-btn-color);
                            }
                            .modifyBtn{
                                background-color: var(--secondary-color)
                            }
                        }
                    }
                }
                
                
            }
        }
    }
    .toCreateStoragePanel{
        height: 300px;
        border: 5px dashed var(--hover-color);
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        h3{
            width: 100%;
            text-align: center;
            font-size: 25px;
            margin: 25px  0 5px 0 ;
        }
        .addBtnContainer{
            width: 100%;
            height: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }
    .createStorageModal{
        @extend .toCreateStoragePanel;
        position: relative;
        input {
            @include base.input-setting;
            width: 90%;
        }
        .errorMsgPanel{
            height: 20%;
            margin: 10px;
            font-size: 25px;
        }
        .createBtnPanel{
            position: absolute;
            top: 80%;
            width: 100%;
            height: 20%;
            align-items: center;
            button{
                @include base.button-setting;
                width:45%;
                height: 70%;
                margin: 5px 5px;
                border-radius: 25px;                
            }
            .cancelBtn{
                background-color: var(--cancel-btn-color);
            }
            .createBtnNotAllowed{
                @include base.button-notAllowed;
            }
            .confirmBtn{
                background-color: var(--secondary-color);
                cursor: pointer;
            }
        }
    }
}